<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
            <div class="main-header-top-bar">
                <div id="top-logo">
                <a href="/home"><img src="/images/logo-mercado-liebre.svg" alt="Mercado Liebre" class="logo"></a>
                </div>
            </div>    
            <section id="buscador">
                <div class="box" action="#" method="GET">
                    <div>
                        <i class="fa fa-search"></i>
                        <input type="search" id="search" placeholder="Buscar productos, marcas y más..." /> 
                    </div>
                </div>
        </section>
            <div><i class="fas fa-hand-holding-usd"></i> Compra en cuotas y sin tarjeta de credito
            </div>
        </div>
        <nav>
            <ul>
                <li type="none"><a href="#" style="text-decoration:none">Ofertas</a></li>
                <li type="none"><a href="#"style="text-decoration:none"> Tiendas Oficiales</a></li>
                <li type="none"><a href="/producto" style="text-decoration:none"> Vender</a></li>
                <br>
            </ul>
            <ul>
                <li type="none"><a href="#" style="text-decoration:none"> Ayuda</a></li>
                <li type="none"><a href="/register" style="text-decoration:none"> Crea tu cuenta <i class="far fa-address-card"></i> </a> </li>
                <li type="none"><a href="/login" style="text-decoration:none"> Ingresa <i class="fas fa-sign-out-alt"></i> </a> </li>
            </ul>
        </nav>     
    </header>
    <section class="banner"><img src="/images/img-home-banner.jpg" alt="Promos mercado Liebre"></section>  
    <main>
        <section>
            <h3>Basado en tu ultima Visita</h3>
            <div>
                <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera">
                    <div>
                    <i class="fas fa-truck verde"></i>
                    <p>$6.770</p>
                    <p>40% off</p>
                    <p>Cafetera Moulinex</p>
                    </div>
                </article>
                <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook">
                    <div>
                    <i class="fas fa-truck verde"></i><br>
                    <p>$230.000</p>
                    <p>20% off</p>
                    <p>MacBook Pro 2019</p>
                    </div>     
                </article>
                <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt=""  >
                    <div>
                    <i class="fas fa-truck verde"></i><br>
                    <p>$70.500</p>
                    <p>10% off</p>
                    <p>Samsung Galaxy S10</p>
                    </div>
                </article>
                <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt=""  >
                    <div>
                    <i class="fas fa-truck verde"></i><br>
                    <p>$23.000</p>
                    <p>5% off</p>
                    <p>SmartTv Samsung 43"</p>
                    </div>
                </article>
            </div>
        </section>
        <section>
            <h3>Ofertas</h3>
                <div>
                    <article>
                        <img src="/images/img-cafetera-moulinex.jpg" alt=""  >
                            <div>
                            <i class="fas fa-truck verde"></i><br>
                            <p>$6.770</p>
                            <p>40% off</p>
                            <p>Cafetera Moulinex</p>
                            </div>
                    </article> 
                    <article>
                        <img src="/images/img-macbook-pro-2019.jpg" alt=""  >
                            <div>
                            <i class="fas fa-truck verde"></i><br>
                            <p>$230.000</p>
                            <p>20% off</p>
                            <p>MacBook Pro 2019</p>
                            </div>
                    </article>
                    <article>
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt=""  >
                            <div>
                            <i class="fas fa-truck verde"></i><br>
                            <p>$70.500</p>
                            <p>10% off</p>
                            <p>Samsung Galaxy S10</p>
                            </div>
                    </article>
                    <article>
                        <img src="/images/img-tv-samsung-smart.jpg" alt=""  >
                            <div>
                            <i class="fas fa-truck verde"></i><br>
                            <p>$23.000</p>
                            <p>5% off</p>
                            <p>SmartTv Samsung 43"</p>
                            </div>
                    </article>
            </section>
    </main>

    <footer>
        <section>
            <div>
                <i class="far fa-credit-card azul"></i>
                <h4>Paga con tarjeta y efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div>
                <i class="fas fa-gift azul"></i>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
                </div>
            <div>
                <i class="fas fa-user-shield azul"></i>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            </div>
            <div>
                <h5>Copyright &copy; 1999-2021 MercadoLiebre S.R.L.</h5></div>
        </section>      
    </footer>
</body>
