<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/f806b676d6.js" crossorigin="anonymous"></script>
    <title>Mercado Liebre</title>
</head>
<body>
    <header class="main-header">
            <div class="main-header-top-bar">
                    <img src="/images/logo-mercado-liebre.svg" alt="Mercado Liebre" class="logo">
                    <br>
                    <br>
                    <br>
                    <br>
                    <h2 class ="copy-header">
                        <i class="fas fa-hand-holding-usd"></i>   Compra en cuotas y sin tarjeta de credito
                    </h2>  
            </div>  
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li type="none"><a href="#" style="text-decoration:none">Ofertas</a></li>
                <li type="none"><a href="#" style="text-decoration:none"> Tiendas Oficiales</a></li>
                <li type="none"><a href="#" style="text-decoration:none"> Vender</a></li>
                <li type="none"><a href="#" style="text-decoration:none"> Ayuda</a></li>
                <br>
            </ul>
            <ul class="right-navbar">
                <li type="none"><a href="/views/register.html" style="text-decoration:none"> Crea tu cuenta <i class="far fa-address-card"></i></a></li>
                <li type="none"><a href="/views/login.html" style="text-decoration:none"> Ingresa <i class="fas fa-sign-out-alt"></i> </a> </li>
                <li type="none"><a href="#" style="text-decoration:none"> Mis compras <i class="fas fa-shopping-basket"></i> </a> </li>
            </ul>
        </nav>
        <a href="#" class="hamburguer-button">
            <i class="fas fa-bars"></i>
        </a>      
    </header>
    <section class="banner"><img src="/images/img-home-banner.jpg" alt="Promos mercado Liebre" ></section>

    <!-- Formulario-->

    <form action="/crear-producto" method="POST" class="create-form"> 
        <div class="control-formulario">
            <label>Nombre del Producto:</label>
            <input type="text" name="nombre" class="control">
        </div>
        <div class="control-formulario">
            <label>Precio:</label>
            <input type="text" name="precio" placeholder="123.56" class="control" >
        </div>
        <div class="control-formulario">
            <label>Categoría:</label>
            <select name="categoria" class="control">
                <option value="hogar">Hogar</option>
                <option value="electro">Eelctro</option>
                <option value="indumentaria">Indumentaria</option>
            </select>
        </div>
        <div class="control-formulario">
            <label>Ciudad:</label>
            <select name="ciudad" class="control">
                <option value="baires">Buenos Aires</option>
                <option value="ros">Rosario</option>
                <option value="mdz">Mendoza</option>
            </select>
        </div>
        <div class="control-formulario">
            <label>Descripción:</label>
            <textarea name="descripcion" class="control"></textarea>
        </div>
        <div class="control-formulario">
            <label>Está en Oferta:</label>
            <input type="radio" name="enOferta">
        </div>
        
        <button type="reset" class="boton-formulario">Borrar</button>
        <button type="submit" class="boton-formulario">Guardar</button>
        
    </form>
   
    <main>
        <section>
            <h3>Basado en tu ultima Visita</h3>
            <div class="articulos">
                <article class="lv">
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera">
                    <div>
                        <div>
                            <i class="fas fa-truck"></i>
                        </div>
                    <br>
                    <span class="precios">$6.770</span>
                    <span class="descuento">40% off</span>
                    <p class="descripcion">Cafetera Moulinex</p>
                    </div>
                </article>
                <article class="lv">
                <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook">
                    <div>
                    <i class="fas fa-truck"></i><br>
                    <span class="precios">$230.000</span>
                    <span class="descuento">20% off</span></div>
                    <p class="descripcion">MacBook Pro 2019</p>  
                </article>
                <article class="lv">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung S10"  >
                    <div>
                    <i class="fas fa-truck"></i><br>
                    <span class="precios">$70.500</span>
                    <span class="descuento">10% off</span><br>
                    <p class="descripcion">Samsung Galaxy S10</p>
                    </div>
                </article>
                <article class="lv">
                <img src="/images/img-tv-samsung-smart.jpg" alt=""  >
                    <div>
                    <i class="fas fa-truck"></i><br>
                    <span class="precios">$23.000</span>
                    <span class="descuento">5% off</span><br>
                    <p class="descripcion">SmartTv Samsung 43"</p>
                    </div>
                </article>
            </div>
        </section>
        <section>
            <h3>Ofertas</h3>
                <div class="articulos">
                    <article class="lv">
                        <img src="/images/img-cafetera-moulinex.jpg" alt=""  >
                            <div>
                            <i class="fas fa-truck"></i><br>
                            <span class="precios">$6.770</span>
                            <span class="descuento">40% off</span><br>
                            <p class="descripcion">Cafetera Moulinex</p>
                            </div>
                    </article> 
                    <article class="lv">
                        <img src="/images/img-macbook-pro-2019.jpg" alt=""  >
                            <div>
                            <i class="fas fa-truck verde"></i><br>
                            <span class="precios">$230.000</span>
                            <span class="descuentos">20% off</span><br>
                            <p class="descripcion">MacBook Pro 2019</p>
                            </div>
                    </article>
                    <article class="lv">
                        <img src="/images/img-samsung-galaxy-s10.jpg" alt=""  >
                            <div>
                            <i class="fas fa-truck"></i><br>
                            <span class="precios">$70.500</span>
                            <span class="descuento">10% off</span><br>
                            <p class="descripcion">Samsung Galaxy S10</p>
                            </div>
                    </article>
                    <article class="lv">
                        <img src="/images/img-tv-samsung-smart.jpg" alt=""  >
                            <div>
                            <i class="fas fa-truck"></i><br>
                            <span class="precios">$23.000</span>
                            <span class="descuento">5% off</span><br>
                            <p class="descripcion">SmartTv Samsung 43"</p>
                            </div>
                    </article>
            </section>
    </main>

    <footer class="ft">
        <section>
            <div>
                <i class="far fa-credit-card azul"></i>
                <h4>Paga con tarjeta y efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div>
                <i class="fas fa-gift azul"></i>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
                </div>
            <div>
                <i class="fas fa-user-shield azul"></i>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
            </div>
            <div>
                <h5>Copyright &copy; 1999-2021 MercadoLiebre S.R.L.</h5></div>
        </section>      
    </footer>
</body>
