<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <title>Mercado Liebre</title>
</head>
    <body>
        <img src="/img/logo-mercado-liebre.svg">
            <article>
                <h2>Lugar para poner barra de busqueda</h2>
                <h2>Compra en cuotas y sin tarjeta de credito</h2>
            </article>
            <article>
                    <ul> 
                        <li>Ofertas</li>
                        <li>Tiendas Oficiales</li>   
                        <li>Vender</li>
                        <br>  
                        <li>Ayuda</li>
                        <li>Creá tu cuenta</li>   
                        <li>Ingresá</li>   
                        <li>Mis compras</li>          
                    </ul>
            </article>
                        <br>
                        <br>
                        <br>
            <div>
                <h2>Sección: Basado en tu última visita</h2>
                    <img src="/img/img-cafetera-moulinex.jpg" width="300">
                       <p>$6.770</p>
                        <p>40% OFF</p>
                            <h4>Cafetera Moulinex</h4>
                    <img src="/img/img-macbook-pro-2019.jpg" width="300">
                        <p>$230.000</p>
                        <p>20% OFF</p>
                            <h4>MacBook Pro 2019</h4>
                    <img src="/img/img-samsung-galaxy-s10.jpg" width="300">
                        <p>$70500</p>
                        <p>10% OFF</p>
                            <h4>Samsung Galaxy S10</h4>
                    <img src="/img/img-tv-samsung-smart.jpg" width="300">
                        <p>$23200</p>
                        <p>5% OFF</p>
                            <h4>SmartTv Samsung 43"</h4>
            </div>
                <h2>Sección de Ofertas</h2>
                    <img src="/img/img-cafetera-moulinex.jpg" width="300">
                        <p>$6.770</p>
                        <p>40% OFF</p>
                            <h4>Cafetera Moulinex</h4>
                    <img src="/img/img-macbook-pro-2019.jpg" width="300">
                        <p>$230.000</p>
                        <p>20% OFF</p>
                            <h4>MacBook Pro 2019</h4>
                    <img src="/img/img-samsung-galaxy-s10.jpg" width="300">
                        <p>$70500</p>
                        <p>10% OFF</p>
                            <h4>Samsung Galaxy S10</h4>
                    <img src="/img/img-tv-samsung-smart.jpg" width="300">
                        <p>$23200</p>
                        <p>5% OFF</p>
                            <h4>SmartTv Samsung 43"</h4>
            </div>
    </body>
                    <br>
                    <br>
                    <br>
    <footer>
            </div>
                <h2>Pagá con tarjeta o en efectivo</h2>
                    <br>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                    <br>
                <h2>Envío gratis desde $ 2.500</h2>
                    <br>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                    <br>
                <h2>Seguridad, de principio a fin</h2>
                    <br>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                    <br>
                <h2>Copyright © 1999-2020 MercadoLiebre S.R.L.</h2>
                    <br>
            </div>
    </footer>
</html>