<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
                rel="stylesheet">
        <img src="/images/logo-mercado-liebre.svg" width="600">
        <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <article>
             <h2><form action="http://lineadecodigo.com/search" method="get"></h2>
                        <input type="search" id="busqueda" name="q"/>
                                        <br>
                        <i class="fas fa-search"></i>
                    <h2><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito</h2>
        </article>
        <article>
            <nav>
                <ul type="none">
                    <li>Ofertas</li>
                    <li>Tiendas Oficiales</li>
                    <li> Vender</li>
                    <br>  
                </ul>
                <ul class="right-navbar" type="none">
                    <li><a href="#"> Ayuda</a></li>
                    <li><a href="/register"> Crea tu cuenta <i class="far fa-address-card"></i> </a> </li>
            <li><a href="/login"> Ingresa <i class="fas fa-sign-out-alt"></i> </a> </li>  
                        </ul>
                    </nav>
                    </header>
                        <div class="burger-menu">
                            <i class="fas fa-bars"></i>
                        </div>
        </article>
                            <br>
                            <br>
                            <br>       

    <body>
            <div>
                <img src="/images/img-home-banner.jpg">
                <main>
                    <section id="ultimaVisita">
                        <h3>Basado en tu ultima Visita</h3>
                        <div class="products">
                        <article class="sombra">
                            <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera">
                            <div class="main-article">
                            <i class="fas fa-truck verde"></i>
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% off</p>
                            <p class="descripciones">Cafetera Moulinex</p>
                        </div>
                        </article> 
                        <article>
                            <img src="/images/img-macbook-pro-2019.jpg" alt="Macbook">
                            <div class="main-article">
                            <i class="fas fa-truck verde"></i><br>
                            <p class="precios">$230.000</p>
                            <p class="descuentos">20% off</p>
                            <p class="descripciones">MacBook Pro 2019</p>
                        </div>
                        </article>
                        <article>
                            <img src="/images/img-samsung-galaxy-s10.jpg" alt="galaxy"  >
                            <div class="main-article">
                            <i class="fas fa-truck verde"></i><br>
                            <p class="precios">$70.500</p>
                            <p class="descuentos">10% off</p>
                            <p class="descripciones">Samsung Galaxy S10</p>
                        </div>
                        </article>
                        <article>
                            <img src="/images/img-tv-samsung-smart.jpg" alt="smart"  >
                            <div class="main-article">
                            <i class="fas fa-truck verde"></i><br>
                            <p class="precios">$23.000</p>
                            <p class="descuentos">5% off</p>
                            <p class="descripciones">SmartTv Samsung 43"</p>
                        </div>
                        </article>
                        </div>
                    </section>
                      <section id="ofertas">
                        <h3>Ofertas</h3>
                        <div class="products">
                        <article>
                            <img src="/images/img-cafetera-moulinex.jpg" alt=""  >
                            <div class="main-article">
                            <i class="fas fa-truck verde"></i><br>
                            <p class="precios">$6.770</p>
                            <p class="descuentos">40% off</p>
                            <p class="descripciones">Cafetera Moulinex</p>
                        </div>
                        </article> 
                        <article>
                            <img src="/images/img-macbook-pro-2019.jpg" alt=""  >
                            <div class="main-article">
                            <i class="fas fa-truck verde"></i><br>
                            <p class="precios">$230.000</p>
                            <p class="descuentos">20% off</p>
                            <p class="descripciones">MacBook Pro 2019</p>
                        </div>
                        </article>
                        <article>
                            <img src="/images/img-samsung-galaxy-s10.jpg" alt=""  >
                            <div class="main-article">
                            <i class="fas fa-truck verde"></i><br>
                            <p class="precios">$70.500</p>
                            <p class="descuentos">10% off</p>
                            <p class="descripciones">Samsung Galaxy S10</p>
                        </div>
                        </article>
                        <article>
                            <img src="/images/img-tv-samsung-smart.jpg" alt=""  >
                            <div class="main-article">
                            <i class="fas fa-truck verde"></i><br>
                            <p class="precios">$23.000</p>
                            <p class="descuentos">5% off</p>
                            <p class="descripciones">SmartTv Samsung 43"</p>
                        </div>
                        </article>
                    </div>
                    </section>
                </main>
    </body>
                    <br>
                    <br>
                    <br>
    <footer>
            </div>
                <h2 >Pagá con tarjeta o en efectivo</h2>
                    <h5>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                    <br>
                <h2>Envío gratis desde $ 2.500</h2>
                    <h5>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                    <br>
                <h2>Seguridad, de principio a fin</h2>
                    <h5>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                    <br>
                <h2>Copyright © 1999-2020 MercadoLiebre S.R.L.</h2>
                    <br>
            </div>
    </footer>
</html>