* { 
  box-sizing: border-box;
  margin: 0px; 
  padding: 0px;}

@media (min-width: 576px) {

}

@media (min-width: 768px) {
  
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {
  
}

header {
background-color: #EAC926;
padding: 20px;
margin: auto;
}

body {
  background-color: #EBEBEB;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 12px;
}

main {
    width: 90vw;
    margin: auto;
    padding-top: 20px;
}

.fa-bars {
  color: white;
  display: block;
  text-align: center;
  background-color: blue;
  padding-block: 5px;
  border-radius: 10px;
  margin: auto;
}
.banner img{
    width: 100%;
  }
img {
    width: 50%;
    image-orientation: center;
    display: block;
    margin: 0 auto;
  }
.banner {
    width: 100%;
    background-size: 100vw;
    margin: auto;
    background-position: center;
}

#top-logo { 
    flex: 1 1 50%;
}
  
.logo {
    width: 200px;
}

#buscador { 
    flex: 1 1 30%;
}

h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 12px;
    text-align: center;
}

h3 {
    font-family: 'Roboto', sans-serif;
    color: grey;
    font-weight: 300;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

footer {
    background-color: #fff; 
    bottom: 0;
    text-align: center; 
}

footer h4{
    color: grey; 
    font-size: 18px; 
  }

footer p{
    color: grey; 
    max-width: 75%; 
    margin: auto;
  }

footer h5{
    color: grey; 
    text-align: left; 
    font-size: 10px; 
    font-weight: 500; 
    margin: 30px 0 15px 15px; 
    padding-bottom: 25px; 
    display: block; 
    width: 100%;
  }


footer.ft {
    border-radius: 0;
    margin: 20px auto;
    background-color: #fff;
    padding: 35px 0 0 0;
    max-width: 320px;
  }
  
.lv, .of {
    border-radius: 0;
    margin: 20px auto;
    background-color: #fff;
    padding: 15px 0;
    max-width: 320px;
  }
  
  .lv:hover .descripciones, .of:hover .descripciones {
    display: block;
    box-shadow: ​0px​ ​0px​ ​10px​ ​rgb​(​100​, ​100​, ​100​);
  }
  
  .lv:hover .fa-truck, .of:hover .fa-truck {
    transform: rotate(360deg);
    animation-name: trans;
    animation-duration: 3s;
    
  }
  
  .lv:hover, .of:hover {
    box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.90);
  }

  .fa-truck {
    padding: 5px;
    color: #39b54a;
    border-style: #39b54a;
    border: solid;
    border-width: 1px;
    border-radius: 50px;
    float: right;
    }

  .fa-credit-card, .fa-gift, .fa-user-shield {
    color: #1259c3;
  }

  .precios {
    font-size: 18px;
    margin: auto;
  }
  
  .descuento {
    font-size: 16px;
    color: #39b54a;
    margin: 1px;
  }
  
  .descripcion {
    font-size: 16px;
    color: #666;
  }



