* { 
  box-sizing: border-box;
  margin: 0px; 
  padding: 0px;}

header {
background-color: #EAC926;
padding: 20px;
margin: auto;
}

body {
  background-color: #EBEBEB;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 12px;
}

main {
    width: 90vw;
    margin: auto;
    padding-top: 20px;
}

.hamburguer-button {
  color: white;
  background-color: #03264C;
  display: block;
  max-width: 40px;
  padding: 10px 0px;
  border-radius: 10px;
  text-align: center;
  font-size: 18px; 
  margin: auto; 
}
.main-header-top-bar .logo{
  float: left;

}
.main-navbar {
  display: none;
}
.main-navbar ul{
  list-style:none;
  margin: 0;
  padding: 0;
}

.main-navbar a{
  text-decoration:none;
  color: #222222;
  display:inline-block;
  padding: 5px 0;
  font-size: 17px;
  align-content: stretch;
}

.logo {
  width: 200px;
  float: left;
  text-align: left;
}
.banner img{
    width: 100%;
  }
img {
    width: 50%;
    display: block;
    margin: 0 auto;
      }

.banner {
    width: 100%;
    background-size: 100vw;
    margin: auto;
    background-position: center;
}

h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 12px;
    text-align: center;
}

h3 {
    font-family: 'Roboto', sans-serif;
    color: grey;
    font-weight: 400;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
h2 .copy-header {
  font-family: 'Roboto', sans-serif;
  color: #222222;
  font-weight: 700;
  font-size: 12px;
  font-weight: bold;
  text-align: right;
  max-width: 160px;
  display: block;
  margin: 0px; 
  padding: 0px;
}
.copy-header {
  font-family: 'Roboto', sans-serif;
  color: #222222;
}

footer {
    background-color: #fff; 
    bottom: 0;
    text-align: center; 
}

footer h4{
    color: grey; 
    font-size: 12px; 
  }

footer p{
    color: grey; 
    max-width: 75%; 
    margin: auto;
  }

footer h5{
    color: grey; 
    text-align: left; 
    font-size: 10px; 
    font-weight: 500; 
    margin: 30px 0 15px 15px; 
    padding-bottom: 25px; 
    display: block; 
    width: 100%;
  }

footer.ft {
    border-radius: 0;
    margin: 20px auto;
    background-color: #fff;
    padding: 35px 0 0 0;
    max-width: 320px;
  }
  
.lv, .of {
    border-radius: 0;
    margin: 20px auto;
    background-color: #fff;
    padding: 15px 0;
    max-width: 320px;
  }
  
  .lv:hover .descripciones, .of:hover .descripciones {
    display: block;
    box-shadow: ​0px​ ​0px​ ​10px​ ​rgb​(​100​, ​100​, ​100​);
  }
  
  .lv:hover .fa-truck, .of:hover .fa-truck {
    transform: rotate(360deg);
    animation-name: trans;
    animation-duration: 3s;
    
  }
  
  .lv:hover, .of:hover {
    box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.90);
  }

  .fa-truck {
    padding: 5px;
    color: #39b54a;
    border-style: #39b54a;
    border: solid;
    border-width: 1px;
    border-radius: 50px;
    float: right;
    }

  .fa-credit-card, .fa-gift, .fa-user-shield {
    color: #1259c3;
  }

  .precios {
    font-size: 18px;
    margin: auto;
  }
  
  .descuento {
    font-size: 16px;
    color: #39b54a;
    margin: 1px;
  }
  
  .descripcion {
    font-size: 16px;
    color: #666;
  }

  
  @media (min-width: 350px) {
    
    .main-header-top-bar {
      border: dotted 2px red;
      justify-content: space-between;
    }

    .copy-header{
      border: dotted 2px green;
      max-width: 360px;
      text-align: center;
    }

  .logo {
      width: 200px;
      margin: 0;
      padding: 0;
    }

    .create-form {
      padding:20px 15px;
      font-weight: bold;
      max-width: 360px;
    }

    .control-formulario label {
      margin: 10px;
      font-style: italic;
      display: block;
      font-weight: bold;
    
    }
    .control {
      width: 100%;
      padding: 8px;
      font-weight: bold;
    }

    .boton-formulario {
      background-color: #39b54a;
      border: none;
      padding: 5px 10px;
      font-size: 20px;
      color: #fff;
      border-radius: 5px;
      font-weight: bold;
    }

  @media (min-width: 576px) {

    .main-header-top-bar {
      border: dotted 2px red;
      display: flex;
      justify-content: space-between;
    }
    .copy-header{
      max-width: 350px;
      text-align: right;
    }
  .logo {
      width: 200px;
      margin: 0;
      padding: 0;
    }
  }
  
  @media (min-width: 768px) {
    .main-header-top-bar {
      border: dotted 2px red;
      display: flex;
      justify-content: space-between;
    }
    .copy-header{
      max-width: 350px;
      text-align: right;
      justify-content:center
    }
  .logo {
      width: 200px;
      margin: 0;
      padding: 0;
    }
    .main-navbar {

      border: dotted 2px green;
      display: flex;
      justify-content: space-between;
      font-weight: 700;
      margin: 0;
      padding: 0;
      }

      .main-navbar ul{
        display: flex;
      }
      .main-navbar li {
        margin: 0 5px;
      }
      .hamburguer-button {
        display: none;
      }
  }
  
  @media (min-width: 992px) {

  }
  
  @media (min-width: 1200px) {
    .main-header-top-bar, .main-navbar {
      border: dotted 2px red;
      max-width: 1200px;
      margin: auto;
    }

    .logo {
      width: 300px;
      margin: 0;
      padding: 0;
    }

    .copy-header {
      max-width: none;
      text-align: right;
      font-weight: 700;
      padding-top: 30px;
    }

    .main-navbar li{
    margin: 0 10px;
    font-weight: 700;       
    }

    .main-navbar a {
      margin: 0 19px;       
      }
    }
  }