body {
    background-color: #EAC926;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 12 px;
}


footer {
    background-color: #FFFFFF;
}
h5 {
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 12 px;
    text-align: center;
}
h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20 px;
    font-weight: bold;
    text-align: center;
}
